<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>

  <title>gifmarks</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'gifs/app.css' %}">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bookmarks for GIFs</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% block breadcrumbs %}{% endblock %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<section class="body">
{% block body %}
{% endblock %}
</section>

<div class="container">
  <hr>
  <footer>
    <p></p>
  </footer>
</div>

</body>
</html>
