{% extends 'gifs/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2> {{ gif.title }} <small>category: {{ gif.category }}</h2>
      <img class="img-responsive" src="{{ gif.href }}" alt="{{ gif.title }}" />
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumbs %}
<li><a href="/">categories</a></li>
<li class="active"><a href="{% url 'gifmarks_app.views.random_gif_from_category' gif.category %}">more {{ gif.category }}</a></li>
{% endblock %}
